@font-face {
    font-family: Sofia;
    font-display: swap;
    src: local(Sofia),
        url("../Doc_Figma/Sofia.woff") format("woff"),
        url("../Doc_Figma/Sofia.woff2") format("woff2"),
        /* font-weight: 400;
        font-style: normal; */
}



html {
    font-family: 'Roboto';
}

* {
    margin: 0;
    box-sizing: border-box;
}

.first-screen {
    height: 663px;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: 1400px;
    max-width: 1400px;
    background-position: cover;
}


.main-container {
    display: flex;
}

header {
    max-width: 1400px;
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: -20px;
}

.logo {
    color: #46B1DE;
    white-space: pre-line;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 425.22px;
    height: 91px;
}

a {
    text-decoration: none;
    color: black;
    font-size: medium;

    font-style: normal;
}

.header_menu {
    font-weight: normal;
    font-style: normal;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.doctor {
    font-family: 'Sofia Sans';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 38px;
    white-space: nowrap;
    margin-left: 20px;
    color: #46B1DE;
    width: 315px;
    height: 53px;
    font-style: normal;
}

.phone {
    margin-right: 80px;
    font-family: "Roboto";
    display: flex;
    align-items: center;
}

.header_language {
    white-space: nowrap;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.choosen_language {
    font-family: 'Roboto';
    font-size: medium;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin-left: 40px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 62px;
}

.text {
    position: absolute;
    margin: 185px 0px 0px 110px;
    left: 0;
    top: 30px;
}

p {
    white-space: pre-line;
}

span {
    white-space: pre-line;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.1em;
}

p>span>span {
    color: #46B1DE;
    font-family: 'Russo One';
}

p>span {
    color: black;
    font-family: 'Russo One';
}

.call__servicies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -150px;
}

.call {
    padding: 16px 35px 16px 65px;
    width: 180px;
    height: 60px;
    background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
    box-shadow: 0px 2px 10px #46B1DE;
    border-radius: 8px;
    color: white;
    text-transform: uppercase;
    margin-left: 110px;
    font-weight: 600;
    font-size: 19px;
}

.servicies {
    padding: 16px 35px 16px 45px;
    width: 180px;
    height: 60px;
    background-color: white;
    box-shadow: 0px 2px 10px #46B1DE;
    border-radius: 8px;
    color: #46B1DE;
    text-transform: uppercase;
    margin-left: 120px;
    font-weight: 600;
    font-size: 19px;
}

button {
    border: 1px solid #000;
    padding: 10px;
    text-transform: uppercase;
    font-size: smaller;
    width: 100px;
    font-family: Muller;
    left: 40px;
    top: 20px;
}

.advantages {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 580px 0px 0px 200px;
    position: absolute;
    gap: 40px;
    left: 0px;
    top: 20px;
    box-shadow: 5px grey;
}

.sheet {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
    justify-content: space-around;
    box-sizing: border-box;
    width: 280px;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #D8E1E1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.numbers {
    color: #46B1DE;
    padding-bottom: 20px;
    width: 93px;
    height: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 76px;
    display: flex;
    align-items: center;
    text-align: center;
}

.card_text {
    text-align: justify;
    float: right;
    color: black;
    text-transform: none;
    padding-top: 20px;
    white-space: pre-line;
    width: 146px;
    height: 64px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lady {
    position: absolute;
    bottom: -75px;
    right: 150px;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 1150px;
    width: 100%;
    margin-top: 60px;
    margin-left: 110px;
    margin-right: 210px;
}

.cards {
    margin-top: -100px;
    position: absolute;
    left: 0;
    top: 790px;
}

.why_me {
    font-family: 'Russo One';
    margin-left: 320px;
    margin-top: 90px;
}

b {
    text-transform: uppercase;
    width: 652px;
    height: 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 130%;
}

.description {
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

p>b>span {
    color: #46B1DE;
}

p~p {
    margin-left: 350px;
    width: 612px;
    height: 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 110px);
    align-content: center;
    justify-content: center;
    margin: 50px 190px 87px 190px;
    position: absolute;
    gap: 20px;
    flex-wrap: wrap;
    width: 1020px;
    height: 396px;
    background: #A1C7D4;
    border-radius: 12px;
}

.question {
    border: 1px solid #46B1DE;
    width: 300px;
    height: 176px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: -65px;
    margin-bottom: 85px;
    padding-right: -40px;
}

.item {
    color: #46B1DE;
    font-size: 40px;
    padding: 15px 0px 0px 20px;
    width: 80px;
    height: 56px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
}

.feature {
    color: #46B1DE;
    padding-left: 80px;
    margin-top: -85px;
    text-transform: none;
    white-space: pre-wrap;
    width: 300px;
    height: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}


.specification {
    white-space: pre-line;
    margin-left: 20px;
    width: 267px;
    height: 57px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 45px;
}

/* appointment */

.appointment {
    box-sizing: border-box;
    position: absolute;
    width: 845px;
    height: 265px;
    left: 265px;
    top: 1437px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.box_2 {
    box-sizing: border-box;
    width: 821px;
    height: 247px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    margin: 10px 9px 8px 15px;
}

.forms_name {
    width: 763px;
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #1B1D1F;
    margin-top: 29px;
}


.forms_description {
    width: 801px;
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-left: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1B1D1F;
}

.button_name {
    width: 233px;
    height: 57px;
    background: rgba(217, 217, 217, 0.71);
    border-radius: 8px;
    margin-top: 45px;
    margin-left: 18px;
}

.img_phone {
    margin: 18px 10px 15px 10px;
}

.enter_name {
    width: 92px;
    height: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 140%;
    color: rgba(27, 29, 31, 0.51);
    text-align: justify;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -45px;
    padding-left: 90px;
}

.button_phone {
    width: 233px;
    height: 57px;
    background: rgba(217, 217, 217, 0.71);
    border-radius: 8px;
    margin-top: -55px;
    margin-left: 320px;
}

.img_phone_number {
    width: 24px;
    height: 24px;
    margin: 18px 10px 15px 10px;
}

.enter_phone {
    width: 125px;
    height: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 140%;
    text-align: center;
    color: rgba(27, 29, 31, 0.51);
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -45px;
    padding-left: 90px;
}

.button_sign_up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 35px;
    gap: 10px;
    width: 180px;
    height: 57px;
    background: #46B1DE;
    border-radius: 8px;
    margin-top: -58px;
    margin-left: 610px;
}

.sign_up {
    width: 73px;
    height: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.pictures {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1200px;
    margin-left: 198px;
    gap: 70px;
}


/* foooter */

footer {
    background: linear-gradient(to right, #add6e3, #2b92b5);
    max-width: 1400px;
    width: 100%;
    height: 500px;
    margin-top: 1500px;
    position: absolute;
}

.box_1 {
    display: flex;
    flex-direction: row;
    white-space: pre-line;
    margin-left: 180px;
    padding-top: 15px;
    margin-top: 60px;
    /* position: absolute; */
    /* margin: 63px 1212px 258px 116px; */
}

.doctor_footer {
    font-size: 38.7869px;
    color: #0F2D4A;
    margin-left: 10px;
    width: 302px;
    height: 54px;
    margin-top: -60px;
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

ul {
    margin-top: 40px;
    margin-left: 140px;
}

li {
    list-style-type: none;
    margin-top: 20px;
    color: #054f67;
}

.labours {
    white-space: pre-line;
    color: #054f67;
    margin-left: 350px;
    margin-top: -90px;
    font-size: medium;
    font-family: 'Roboto';
}

.working {
    text-transform: none;
    font-size: medium;
    font-weight: bold;
    font-family: 'Roboto';
}

.language {
    color: #000;
    font-family: 'Roboto';
}

.Contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 250px;
    margin-top: -200px;
    color: white;
}

h3 {
    text-transform: uppercase;
    font-size: x-large;
    font-family: 'Roboto';
}

.connection {
    color: white;
    font-family: 'Roboto';
}

.list {
    margin-top: 5px;
}

.social_media {
    display: inline-block;
    align-items: center;
    padding: 5px;
}

.Copyright {
    margin-top: 25px;
    font-size: small;
    font-family: 'Roboto';
}


@media screen and (max-width: 991px) {

    .first-screen {
        background-image: url("background.png");
        background-repeat: no-repeat;
        background-size: 991px;
        max-width: 991px;
        background-position: cover;
    }

    .logo {
        width: 183px;
        height: 39.16px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin-left: -60px;
    }

    .doctor {
        font-family: 'Sofia Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16.6926px;
        line-height: 140%;
        width: 60px;
        height: 27px;
        margin-left: 2px;
    }

    .header_menu {
        display: none;
    }

    .phone {
        margin-left: 186px;
    }

    .header_language {
        display: none;
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: -310px;
        margin-top: 100px;
    }

    p>span,
    p>span>span {
        width: 284px;
        height: 89px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 130%;
        text-align: center;
    }

    .description {
        width: 281.21px;
        height: 68px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        margin-left: 30px;
        margin-top: 10px;
        white-space: nowrap;
        text-align: center;
    }

    .call__servicies {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: flex-start;
    }

    .call {
        margin-left: 80px;
        margin-top: -210px;
        width: 100px;
        height: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        line-height: 2px;
        display: table-cell;
        vertical-align: middle;
        align-content: center;
        padding-left: 35px;
    }

    .servicies {
        margin-left: 170px;
        margin-bottom: 110px;
        width: 100px;
        height: 30px;
        margin-top: -210px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        line-height: 2px;
        display: table-cell;
        vertical-align: middle;
        align-content: center;
        padding: 14px;
    }

    .advantages {
        display: none;
    }

    .cards {
        display: none;
    }

    .appointment {
        display: none;
    }

    .pictures {
        display: none;
    }

    footer {
        margin-top: -194px;
        max-height: 500px;
    }

    .lady {
        height: 199px;
        width: 208px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        margin-bottom: 200px;
    }

    .box_1,
    .links {
        margin-top: 10px;
        margin-left: 10px;
        font-weight: 400;
        font-size: 14px;
    }

    .doctor_footer {
        width: 150px;
        height: 17px;
        font-family: 'Sofia Sans';
        font-style: normal;
        font-size: 19.1523px;
        line-height: 140%;
        white-space: pre-wrap;
    }

    .labours {
        margin-left: 220px;
        font-weight: 400;
    }

    .Contacts {
        width: 400px;
        height: 23px;
        margin-top: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        margin-left: -200px;
    }

    .social_media {
        display: none;
    }

    .connection {
        font-size: 12px;
    }

    .Copyright {
        margin-right: -240px;
        margin-top: 0px;
    }
}

@media screen and (max-width: 479px) {
    .first-screen {
        background-image: url("background.png");
        background-repeat: no-repeat;
        background-size: 991px;
        max-width: 991px;
        background-position: cover;
    }

    .logo {
        width: 183px;
        height: 39.16px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin-left: -60px;
    }

    .doctor {
        font-family: 'Sofia Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16.6926px;
        line-height: 140%;
        width: 60px;
        height: 27px;
        margin-left: 2px;
    }

    .header_menu {
        display: none;
    }

    .phone {
        margin-left: 186px;
    }

    .header_language {
        display: none;
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: -310px;
        margin-top: 100px;
    }

    p>span,
    p>span>span {
        width: 284px;
        height: 89px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 130%;
        text-align: center;
    }

    .description {
        width: 281.21px;
        height: 68px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        margin-left: 30px;
        margin-top: 10px;
        white-space: nowrap;
        text-align: center;
    }

    .call__servicies {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: flex-start;
    }

    .call {
        margin-left: 80px;
        margin-top: -210px;
        width: 100px;
        height: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        line-height: 2px;
        display: table-cell;
        vertical-align: middle;
        align-content: center;
        padding-left: 35px;
    }

    .servicies {
        margin-left: 170px;
        margin-bottom: 110px;
        width: 100px;
        height: 30px;
        margin-top: -210px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        line-height: 2px;
        display: table-cell;
        vertical-align: middle;
        align-content: center;
        padding: 14px;
    }

    .advantages {
        display: none;
    }

    .cards {
        display: none;
    }

    .appointment {
        display: none;
    }

    .pictures {
        display: none;
    }

    footer {
        margin-top: -194px;
        max-height: 500px;
    }

    .lady {
        height: 199px;
        width: 208px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        margin-bottom: 200px;
    }

    .box_1,
    .links {
        margin-top: 10px;
        margin-left: 10px;
        font-weight: 400;
        font-size: 14px;
    }

    .doctor_footer {
        width: 150px;
        height: 17px;
        font-family: 'Sofia Sans';
        font-style: normal;
        font-size: 19.1523px;
        line-height: 140%;
        white-space: pre-wrap;
    }

    .labours {
        margin-left: 220px;
        font-weight: 400;
    }

    .Contacts {
        width: 400px;
        height: 23px;
        margin-top: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        margin-left: -200px;
    }

    .social_media {
        display: none;
    }

    .connection {
        font-size: 12px;
    }

    .Copyright {
        margin-right: -240px;
        margin-top: 0px;
    }

}